@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Home</h1>

<p>Welcome to this application.</p>

<div class=" container">
    <form class="box-body" action="/Home/UploadFile" method="post" enctype="multipart/form-data">
        <div class="row col-sm-12 col-md-12 form-group">
            <label class="col-sm-2 col-md-2">请选择上传文件：</label>
            <input type="file" id="uploadFiles" name="uploadFiles" />
        </div>

        <div class="row col-sm-12 col-md-12 form-group">
            <div class="col-sm-2 col-md-2"></div>
            <button type="button" onclick="UploadFiles();" class="btn btn-info">Upload</button>
        </div>
    </form>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/StaticFiles/Frontend/Scripts/Common.js"></script>

<script type="text/javascript">

    $(function () {
        LYQ.sendAjaxRequest({
            type: "post",
            url: "/Home/TestPost",
            param: { uploadFiles: $("#uploadFiles")[0].files[0] },
            dataType: "multipart/form-data",            
            callBack: function (result) {
                if (result == "y") {
                    console.log("Ajax request is success, request result is:" + result);
                } else {
                    console.log("Ajax request is fail, reason is:" + result);
                }
            }
        });
    })


    function UploadFiles() {

        var formData = new FormData();
        formData.append('uploadFiles', $('#uploadFiles')[0].files[0]);

        LYQ.sendAjaxRequest({
            type: "post",
            url: "/Home/UploadFile",
            param: formData,
            dataType: "json",
            contentType: false,
            cache: false,
            processData: false,
            callBack: function (result) {
                if (result == "y") {
                    console.log("Ajax request is success, request result is:" + result);
                } else {
                    console.log("Ajax request is fail, reason is:" + result);
                }
            }
        });

    }



</script>